<h1>coucoucoucou</h1>

	<div>
		<%= form_tag url_for(action: 'create'), method: "post" do %>
			<div class="border border-dark bg-success pt-3 pb-3 text-warning">


			    <%= submit_tag "Create gossip" %>
		    </div>
		<% end %>
	</div>