<div class="d-flex flex-column">
	<div class="text-center">
		<h1 class="pt-3 pb-3 text-success">voila le gossip numero : <%= @user.id %></h1>
	</div>
	<div class="text-center bg-success border border-dark">
		<div>
			<h3 class="text-warning border border-dark bg-info pt-2 pb-2">pseudo : <%= @user.first_name %></h2>
		</div>
		<p class="text-warning"><%= @user.email %></p>
		<p class="text-warning">crée le : <%= @user.created_at %></p>
		<br/>
		<% if current_user %>
			<a href="" class="btn btn-danger " data-confirm="sur?" data-method="delete">delete</a>
		<% else %>
			<a href="/sessions/new" class="btn btn-danger " data-confirm="sur?" data-method="delete">delete</a>
		<% end %>
	</div>
</div>